@mixin button($color, $text){
  appearance: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  transition: background-color .3s ease-out;
  background-color: $color;
  color: $text;

  margin: 0 0 1rem;
  padding: .625rem 1.25rem .6875rem;

  border: 0 solid transparent;
  border-radius: 3px;

  display: inline-block;
  position: relative;

  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: .6875rem;
  font-weight: 400;
  line-height: normal;

  &:hover{
    background-color: adjust-color($color, $lightness: -10);
  }
}

