// Colors
$white:                         #FFFFFF;
$black:                         #222222;
$black_2:                       #373f4a;
$turquoise:                     #4BC2B8;
$red:                           #E75F45;
$orange:                        #E7A645;
$orange:                        #FFC11F;

$blue_darkest:                  #262C36;
$blue_darkest:                  #344259;
$blue:                          #2CAAD0;
$blue_2:                        #0093e6; //rgba(37,164,213,0.98)

$blue_gray_darker:              #222B3F;
$blue_gray_dark:                #3F4654;
$blue_gray:                     #677DAD;
$blue_gray_alt:                 #677DAD;
$blue_gray_light:               #9AA1B1;
$blue_gray_lighter:             #E0E2E7;
$blue_gray_lightest:            #D7DEE7;

$light_gray:                    #7B7B7B;
$light_blue_gray:               #798291;
$light-filet:                   #DEE3EA;
$off-white:                     #EAEEF3;
$off-white:                     #F1F4F7;

$facebook_color: #3C5A98;
$google_color:   #EB2F12;
$twitter_color:  #00ABF5;
$github_color:   #999999;

$primary        : $blue_2;
$primary_alt    : $turquoise;
$secondary      : $blue_gray_dark;
$secondary-alt  : $blue_gray_alt;
$base-text      : $blue_gray;
$inverted-text  : $white;
$tertiary       : $blue_2;
$quaternary     : $red;

$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
