
.comment__body{
  line-height: 1.5;
  font-size: 15px;
  color: #444;
  -webkit-font-smoothing: antialiased;
}
.comment__admin-label{
  margin-right: 10px;
}

.comment {
  margin-bottom: 15px;
  overflow: auto;
  clear: both;

  .comment,
  .comment__container,
  .comment-composer{
    padding-left: 40px;
  }
}

.comment--root > {

  .comment__avatar img{
    @media #{$medium-up}{
      margin-top: 0;
      max-width: 50px;
    }
  }

  .comment,
  .comment__container,
  .comment-composer{
    padding-left: 40px;
    @media #{$medium-up}{
      padding-left: 60px;
    }
  }
}

.comment__avatar, .comment-composer__avatar{
  position: absolute;
}

.comment-composer__avatar {
  img{
    margin-top: 10px;
  }
}

.comment{
  .comment-composer__form{
    padding-left: 45px;
  }
}

.comment-composer--top {
  margin-bottom: $line-height*2;
  overflow: auto;
  clear: both;
  .comment-composer__avatar {
    @media #{$small-only}{
      display: none;  
    }
  }
  @media #{$medium-up}{
    .comment-composer__form{
      padding-left: 65px;
    }
    .comment-composer__avatar img{
      max-width: 50px;
      margin-top: 0;
    }
  }
}


.comment-composer__editor{
  position: relative;
  @media #{$medium-up}{
    $caret-size : 11px;
    &:before, &:after{
      content:" ";
      position: absolute;
      top: $caret-size*2 + 2; //Because avatar = 50px;
    }
    &:before{
      left: -$caret-size*2;
      margin-top: -$caret-size;
      border: inset $caret-size+1;
      border-color: transparent;
      border-right-color: rgba(143, 156, 163, 0.2);
    }
    &:after{
      left: -$caret-size*2 + 4;
      margin-top: -($caret-size - 2);
      border: inset $caret-size - 1;
      border-color: transparent;
      border-right-color: white;
    }
  }
}

.comment-composer__form.edit{
  padding-left: 0;
  .comment-composer__editor:before,
  .comment-composer__editor:after{
    display: none;
  }
}

// .comment-meta .comment-actions{
//   @extend .menubar-list;
//   margin-left: .5rem;
//   padding: 0;
//   display: inline-block;
// }

// .comment-meta, .comment-footer{
//   font-size: rem-calc(13);
// }

// .comment-footer{
//   margin-top: .5rem;
// }

// .comment-meta .comment-time{
//   &:before{
//     content: ' • ';
//   }
// }

// .comment-footer .menubar-list{
//   li{
//     margin-right: 1rem;
//   }
// }
