.dropdown-container{
  position: relative;
  a{ outline: none; }
  div, ul{
    &.dropdown, &.f-dropdown{
      display: none;
      left: 15px;
      top: 100%;
      a{
        padding: 1rem;
      }
      width: auto;
      @media #{$medium-up}{
        min-width: 10rem;
      }
      animation: upAndHide .2s forwards $easeOutQuint;
    }
    &.dropdown-right{
      right: 15px;
      left: auto;
    }
  }
  &.open {
    div, ul{
      &.dropdown, &.f-dropdown{
        display: block;
        animation: downAndShow .2s forwards $easeOutQuint;
      }
    }
  }
}

div, ul{
  &.dropdown, &.f-dropdown{
    border-radius: $global-radius;
    box-shadow: 0 0 0 2px $filet-color;
    &.dropdown-right{
      &:before, &:after{
        left: auto;
      }
      &:before{
        right: 10px;
      }
      &:after{
        right: 9px;
      }
    }
  }
}



.comment-footer .dropdown-container {
  .f-dropdown{
    width: auto;
    max-width: none;
    position: relative;
    display: inline;
    box-shadow: none;
    padding:0;
    margin: 0;  
    &:before, &:after{
      display: none;
    }
    li a {
      display: inline;
      padding: 0;
    }
  }
  &.open{
    div, ul{
      &.f-dropdown{
        animation: rightAndShow .2s forwards $easeOutQuint;
      }
    }
  }
}

.top-bar-section .dropdown li:not(.has-form) {
  a:not(.button){
    line-height: $base-line-height*1.5;
  }
  &:not(.active):hover{
    > a:not(.button){
      background: $filet-color;
      color: $primary-color;
    }
  }
}


.top-bar .dropdown {
  background: transparentize(white,.02);
}

.top-bar.expanded .dropdown-container,
.comment-footer .dropdown-container{
  &:before, &:after{
    display: none;
  }
}

.user-menu {
  a{margin-right: 0;}
  .small-avatar span{
    margin-left: 1rem;
  }
  .dropdown-right{
    right: 26px;
  }
}
