.menubar-list{
  font-weight: bold;
  list-style-type: none;
  margin:0;
  li{
    display: inline-block;
    margin-right: .5rem;
  }
}
.comment-footer{
  .menubar-list{
    @media #{$medium-up}{
      float: left;
    }
  }
}
