.nav-bar{
  overflow: visible;
  border-bottom:1px solid $filet-color;
}
.main-bar {
  margin-bottom: 2rem;
}
.secondary-bar{
  margin-bottom: 2rem;
  &:before, &:after{
    content: " ";
    display: table;
  }
}

@media #{$medium-up}{
  .secondary-bar{
    height: $topbar-height;
  }
}

.nav-bar{
  @extend .clearfix;
  .top-bar-section{
    .dropdown, .f-dropdown{
      li {
        float: none;
      }
    }
    > ul{
      width: auto;
      display: inline-block;
      > li {
        float: left;
        > a{
          padding-top: 0;
          padding-bottom: 0;
          display: inline-block;
          width: auto;
        }
        &.right{
          float: right;
        }
        &.dropdown-container{
          > a{
            @media #{$small-only}{
              margin-right: 2rem;
            }
          }
        }
      }
    }
  }
  .title-area h1 a{
    width: auto;
  }
}
