@import "settings";

.list{
  composes: inline-list from './mixins.css';
  list-style: none;
  margin: 5px 0 20px 0;
  clear: fix;
  position: relative;
}


.item{
  display: inline-block;
  float: left;
  @media (--small-only) {
    .share-text{
      display: none;
    }
  }
}

.link{
  composes: nav__link light from './mixins.css';
  padding:0;
  &.warning{ color:var(--warning_color); }
  &.alert{ color:var(--alert_color); }
  &.success{ color:var(--success_color); }
}

.disabled{
  cursor: default;
}

.separator{
  margin: 0 10px;
}

.vote{
  cursor: pointer;
}
