@import "settings";

.button{
  composes: button from './mixins.css'
}
.link{
  composes: link-button from './mixins.css'
}

.editor{
  display: block;
  position: relative;
  @media (--medium_up) {
    &:before, &:after{
      content:" ";
      position: absolute;
      top: calc(var(--caret-size)*2 + 2);
      /* Because avatar = 50px;*/
    }
    &:before{
      left: calc(var(--caret-size)*2);
      margin-top: var(--caret-size);
      border: inset calc(var(--caret-size)+1);
      border-color: transparent;
      border-right-color: rgba(143, 156, 163, 0.2);
    }
    &:after{
      left: calc(var(--caret-size)*2 + 4);
      margin-top: calc(-(var(--caret-size) - 2));
      border: inset calc(var(--caret-size) - 1);
      border-color: transparent;
      border-right-color: white;
    }
  }
  &.editing{
    border:1px solid red;
  }
}
.expanded{
  display: block;
}

.comment{
  .form{
    padding-left: 45px;
  }
}


.form{
  box-sizing:border-box;
  &.edit, &.reply, &.authenticated{
    padding-left: 0;
    .editor:before, .editor:after{
      display: none;
    }
  }
}

.auth{
  composes: auth from './mixins.css'
}

.right{
  float:right;
}
