@import "settings";

.spinner {
  > i{
    width: 64px;
    height: 64px;
  }
}

.avatar{
  position: absolute;
}

.comment {
  display: block;
  padding: 0;
  margin: 15px 0 35px 0;
  clear: both;

  .comment,
  .container{
    margin-bottom: 15px;
    padding-left: 40px;
    .comment{
      padding-left: 0;
      @media (--medium_up) {
        padding-left: 40px;
      }
      .comment{
        padding-left: 0;
      }
    }
  }
}

.root > {
  .avatar img{
    @media (--medium_up) {
      margin-top: 0;
      max-width: 50px;
    }
  }

  .comment,
  .container{
    padding-left: 40px;
    @media (--medium_up) {
      padding-left: 60px;
    }
  }
}

.container{
  composes: clearfix from './mixins.css';
}
