@import "settings";

.nowrap{
  composes: nowrap from './mixins.scss';
}

.reply{
  composes: nowrap from './mixins.scss';
  margin-left: 10px;
}
.admin{
  margin-right: 10px;
}


.meta{
  line-height: 1.3;
  margin: 5px 0;
}

.actions{
  float: right;
  @extend %list;
  margin-left: .5rem;
  padding: 0;
  display: inline-block;
  .dropdown{
    left: -5px;
    top: 23px;
  }
  .icon:not(:hover) svg{
    fill:currentColor;
  }
}

.actions{
  opacity: 0;
  transition:all .2s $easeOutQuint;
}

div:hover > .meta > .actions{
  opacity: 1;
}
