@import "settings";

.container{
  position: relative;
  display: inline-block;
}

.dropdown{
  composes: overlay from './_overlays.css';
  list-style-type: none;

  left: -8px;
  top: 0%;
  margin: 12px 0 0 0;

  @media (--medium_up) {
    min-width: 150px;
  }

  &.open{
    opacity: 1;
    top: 100%;
    visibility: visible;
    display: block;
  }

  &.right{
    left: auto;
    right: -8px;
    &:before, &:after{
      left: auto;
    }
    &:before{
      right: 10px;
    }
    &:after{
      right: 9px;
    }
  }

  &:before{
    border: 6px inset;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent #f2f2f2;
    border-bottom-style: solid;
    position: absolute;
    top: -9pt;
    left: 10px;
    z-index: 3;
  }
  &:after{
    border: 7px inset;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent #ccc;
    border-bottom-style: solid;
    position: absolute;
    top: -14px;
    left: 9px;
    z-index: 2;
  }
}


.item{
  display: block;
  padding: 0;
  margin: 0;
  float: none;
  width: 100%;
  &.selected, &:hover{
    background-color: #eee;
  }
}
.anchor{
  composes:nav__link light from './mixins.css';
  padding: calc(var(--line_height)/2) 15px;
  display: block;
  i{
    margin-right: 10px;
    vertical-align:-20%;
  }
}
.link{
  composes:nav__link light from './mixins.css';
  cursor: pointer;
  display: inline-block;
}
