@import "settings";

.tab-bar{
  composes: clearfix from './mixins.css';
  position: relative;
  line-height: 3rem;
  margin-bottom: 15px;
}
  .tab-list{
    composes: clearfix from './mixins.css';
    display: block;
    font-size: var(--large_font_size);
    line-height: var(--large_line_height);
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
  }
    .tab-link{
      composes: light from './mixins.css';
      list-style-type: none;
      width: 50%;
      text-align: center;
      box-sizing: border-box;
      > a {
        display: block;
        font-size: var(--font_size);
        line-height: calc(var(--line_height)*3);
        height: calc(var(--line_height)*3);
        font-weight: var(--font_weight_bold);
        text-transform: none;
        cursor: pointer;
        width: 100%;
        padding: 0;
        border-radius: 100px;
      }
      &.active > a{
        background: #EEEDEF;
      }
      float: left;
    }

.button{
  @mixin button var(--turquoise), white;
  font-size: var(--large_font_size);
  font-weight: var(--font_weight_bold);
  border-radius: 100px;
  width: 100%;
  float: left;
  display: block;
  outline: none;
  @media (--medium_up) {
    max-width: 250px;
    margin-left: 38px;
  }
  &.disabled{
    box-shadow: inset 0 0 0 2px #ddd;
    background-color: #EEEDEF;
  }
}

.link{
  composes: light from './mixins.css';
  text-decoration: none;
  padding: 12px 0;
  line-height: var(--line_height);
  font-weight: var(--font_weight_bold);
  @media (--medium_up){
    display: inline-block;
    float: right;
  }
  @media (--small_only){
    display: block;
    text-align: center;
    clear: both;
  }
}

.disabled{
  composes:light from './mixins.css';
}

.tabs{
  margin-bottom: 1.5rem;
  width: 100%;
}

  .tab{
    display: none;
    &.active{
      display: block;
    }
    input{
      font-family: var(--font_family);
      appearance: none;
      background-color: #fff;
      border: 2px solid rgba(143,156,163,.2);
      box-shadow: none;
      color: rgba(0,0,0,.75);
      display: block;
      font-size: var(--font_size);
      line-height: calc(var(--line_height)*2);
      height: calc(var(--line_height)*3);
      margin: 0 0 1rem;
      padding: .5rem;
      width: 100%;
      box-sizing: border-box;
      border-radius: var(--global_radius);

      &:focus{
        background: #fafafa;
        border-color: #0093e6;
        outline: none;
      }

    }
  }



.cell{
  padding:0;
  margin: 0;
  position: relative;  
  box-sizing: border-box;
}
.row{
  composes: clearfix from './mixins.css';
  display: block;
  box-sizing:border-box;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
  clear: both;
}
.icon{
  composes: cell;
  width: 38px;
  float: left;
  i { 
    width: 32px;
    high: 32px;
  }
}
.field{
  composes: cell;
  margin-left: 38px;
}


.light{
  composes: light from './mixins.css';
}

.register{
  clear: both;
}
.error{
  margin: 15px 0;
  text-align: center;
  font-size: var(--font_size);
  font-weight: 500;
  color: var(--alert_color);
}
.message{
  text-align: center;
}


