.icon {
  display: inline-block;
  width: 16px;
  vertical-align: -10%;
  + span{
    margin-left: 3px;
  }
  &.colorized{
    fill : currentColor;
    svg path{
      fill:currentColor;
    }
  }
}

