@import "settings";

.auth{
  margin-bottom: 30px;
  line-height: 1;
}

.button{
  composes:button from './mixins.css';
  color:white;
  margin: 0 5px 10px 0;
  border-radius: 100px;
  cursor: pointer;
  
  &.login{
    padding: calc(var(--line_height)/2) 18px;
  }

  &.email{
    padding: calc(var(--line_height)/2) 18px;
    font-weight: var(--font_weight_bold);
  }

  i{
    vertical-align: -50%;
    width: 24px;
    height: 24px;
  }

  &.facebook     {background-color: var(--facebook);  &:hover{ background-color: color(var(--facebook) lightness(-10%)); } }
  &.foursquare   {background-color: var(--foursquare);  &:hover{ background-color: color(var(--foursquare) lightness(-10%)); } }
  &.github       {background-color: var(--github);  &:hover{ background-color: color(var(--github) lightness(-10%)); } }
  &.google       {background-color: var(--google);  &:hover{ background-color: color(var(--google) lightness(-10%)); } }
  &.instagram    {background-color: var(--instagram);  &:hover{ background-color: color(var(--instagram) lightness(-10%)); } }
  &.linkedin     {background-color: var(--linkedin);  &:hover{ background-color: color(var(--linkedin) lightness(-10%)); } }
  &.pinterest    {background-color: var(--pinterest);  &:hover{ background-color: color(var(--pinterest) lightness(-10%)); } }
  &.product-hunt {background-color: var(--product-hunt);  &:hover{ background-color: color(var(--product-hunt) lightness(-10%)); } }
  &.readability  {background-color: var(--readability);  &:hover{ background-color: color(var(--readability) lightness(-10%)); } }
  &.stumbleupon  {background-color: var(--stumbleupon);  &:hover{ background-color: color(var(--stumbleupon) lightness(-10%)); } }
  &.tumblr       {background-color: var(--tumblr);  &:hover{ background-color: color(var(--tumblr) lightness(-10%)); } }
  &.twitter      {background-color: var(--twitter);  &:hover{ background-color: color(var(--twitter) lightness(-10%)); } }
  &.vine         {background-color: var(--vine);  &:hover{ background-color: color(var(--vine) lightness(-10%)); } }
  &.vkontakte    {background-color: var(--vkontakte);  &:hover{ background-color: color(var(--vkontakte) lightness(-10%)); } }

}

.left{
  float: left;
}
