@import "settings";
@import "foundation-sites/scss/foundation/components/global";
@import "foundation-sites/scss/foundation/functions";

:local(.ship){
  -webkit-font-smoothing: antialiased;
  :global{
    *{
      margin:0;
      padding:0;
    }
    @import "./foundation-flat";
    @import './animations';
    @import './typography';
    @import './dropdowns';
    @import './navbar';
    @import './list';
    @import './spinner';
    @import './comment_form';
    @import './comment';
    @import './buttons';

    .error-block{
      color: $red;
      font-size: .8rem;
      font-weight: 600;
    }
  }
}
