.hull-comments-root {
  -webkit-font-smoothing: antialiased;

  * {
    margin:0;
    padding:0;
  }

  @import "settings";

  @import "foundation/components/accordion";
  @import "foundation/components/block-grid";
  @import "foundation/components/button-groups";
  @import "foundation/components/buttons";
  @import "foundation/components/clearing";
  @import "foundation/components/dropdown";
  @import "foundation/components/dropdown-buttons";
  @import "foundation/components/forms";
  @import "foundation/components/grid";
  @import "foundation/components/inline-lists";
  @import "foundation/components/sub-nav";
  @import "foundation/components/tabs";
  @import "foundation/components/top-bar";
  @import "foundation/components/type";
  @import "foundation/components/visibility";

  @import './animations';
  @import './typography';
  @import './dropdowns';
  @import './navbar';
  @import './list';
  @import './spinner';
  @import './comment_form';
  @import './comment';
  @import './buttons';

  .error-block {
    color: $red;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
