@import "settings";

.ship {
  all:initial;
  color: var(--text_color);
  -webkit-font-smoothing: antialiased;
  font-size: var(--font_size);
  line-height:2;
  font-family: var(--font_family);
  margin-bottom: 200px;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }

  a,
  button,
  input[type=submit] {
      transition: all 150ms ease-in-out
  }

}

.button{
  composes: button from './mixins.css'
}
.light{
  composes: light from './mixins.css'
}
.link{
  composes: link from './mixins.css'
}

.spinner{
  width: 64px;
  height: 64px;
  display: block;
  margin: 0 auto;
}
