@import "settings";

.ship {
  all:initial;
  color: var(--text_color);
  -webkit-font-smoothing: antialiased;
  font: 13px/2 'Helvetica Neue', Helvetica, Arial, verdana, sans-serif;
  margin-bottom: 200px;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }

  a,
  button,
  input[type=submit] {
      transition: all 150ms ease-in-out
  }


  :global {

    .light-text{
      color: #ccc;
    }

    .nowrap{
      white-space: nowrap;
    }

  }

}

.button{
  composes: button from './mixins.css'
}
.light{
  composes: light from './mixins.css'
}
.link{
  composes: link from './mixins.css'
}
