.nav__label{
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
}
.nav__link{
  composes: nav__label;
  text-transform: none;
  background: transparent;
  outline: none;
  text-decoration: none;
  cursor:pointer;
}

.inline-list{
  list-style-type:none;
  padding:0;
  margin:0; 
  li{
    display: inline-block;
  }
}

.avatar{
  border-radius: 1000px;
  max-width: 30px;
}

.nowrap{
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
