@import "settings";

.nav{
  display: block;
  margin-bottom: 15px;
}

.section{
  display: block;
  padding: 10px 15px;
  &.secondary{
    border-top: 1px solid #ddd;
  }
}

.list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: auto;
  width: auto;
  &.right{
    float: right;
  }
  > li + li {
    margin-left: 15px;
  }
}

.item{
  display: inline-block;
}

.label {
  composes: nav__label from './mixins.css'
}


.link{
  composes:nav__link from './mixins.css';
  display: inline-block;
  width: 100%;
}

