@import "settings";

.composer{
  padding-left: 40px;
  @media (--medium_up) {
    padding-left: 60px;
    .form{
      padding-left: 40px;
    }
  }
  &.top{
    padding-left: 0;
    margin-bottom: calc(var(--line_height)*2);
    clear: both;
    .avatar{
      display: none;  
    }
    @media (--medium_up) {
      .avatar{
        display: block;
      }
      .form{
        padding-left: 65px;
      }
      .avatar{
        margin-top: 0;
        img{
          max-width: 50px;
        }
      }
    }
  }
}

.avatar{
  margin-top: 10px;
  position: absolute;
}

.left{
  float: left;
}
